html, body {
	height: 100%;
}

main {
	max-width: 700px;
    margin: 0 auto;
	width: 90%;
}

.photo-gallery {
	text-align: center;
	
	.gallery-image {
		height: 33%;
		width: 38%;
		min-height: 100px;
		min-width: 100px;
		max-width: 500px;
		max-height: 500px;
		border: 10px solid #ececec;
		margin: 20px;
	}
}

.screenshot {
	max-height: 400px;
    margin: 0px auto;
    display: block;
}

a {
	cursor: pointer;
}

header {
	height: 50%;
	width: 100%;
	.wrapper {
		.site-title {
			color: #ececec;
		}
	}
	.site-nav {
		.trigger {
			.page-link {
				color: #ececec;
			}
		}
	}
	
	.wrapper, .profile-banner {
		position: relative;
		z-index: 100;
	}
}

.cover-photo-container {
	background-image: url(/assets/1.jpg);
	background-size: 100% auto;
	background-position: 50%;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	z-index: 20;
	
	.cover-photo {
		background-color: #000;
		width: 100%;
		height: 100%;
		opacity: 0.6;
	}
}

.profile-banner {
	width: 100%;
	text-align: center;
	
	.profile-avatar {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		border: 5px solid #ececec;
	}
	
	.profile-position {
		color: #ececec;
		a {
			color: #ececec;
		}
	}
}

@media (max-width: 580px) {
	.photo-gallery {
		
		.gallery-image {
			width: 80%;
			margin: 0px;
			margin-bottom: 20px;
		}
	}
}